:root {
  --color-brand--1: #ef4444;
  --color-brand--2: #7f1d1d;

  --color-red--50: #fef2f2;
  --color-red--100: #fee2e2;
  --color-red--200: #fecaca;
  --color-red--300: #fca5a5;
  --color-red--400: #f87171;
  --color-red--600: #dc2626;
  --color-red--700: #b91c1c;
  --color-red--800: #991b1b;
  --color-red--950: #450a0a;

  --color-dark--0: #242a2e;
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: #d6dee0;

  --color-grey-50: #f9fafb;
  --color-grey-100: #f3f4f6;
  --color-grey-200: #e5e7eb;
  --color-grey-300: #d1d5db;
  --color-grey-400: #9ca3af;
  --color-grey-500: #6b7280;
  --color-grey-600: #4b5563;
  --color-grey-700: #374151;
  --color-grey-800: #1f2937;
  --color-grey-900: #111827;

  --color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
}

label {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-brand--1);
}

input,
textarea {
  width: 100%;
  padding: 0.8rem 1.2rem;
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
  border-radius: 5px;
  /* background-color: #a1a1aa; */
  transition: all 0.2s;
  color: var(--color-brand--1);
}

input:focus {
  outline: 1px solid #52525b;
  background-color: #fff;
  color: var(--color-brand--2);
}

.cta:link,
.cta:visited {
  display: inline-block;
  background-color: var(--color-brand--2);
  color: var(--color-dark--1);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 5px;
}

.loader {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(var(--color-brand--1) 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: loading 1s infinite linear;
}

@keyframes loading {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.title {
  font-size: 24px;
  color: var(--color-brand--1);
}

.page-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--color-brand--1);
}
.page-header-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.page-header-right h4 {
  color: var(--color-dark--2);
  font-size: 1.5rem;
}

.formLabel {
  font-weight: 600;
  color: var(--color-white);
}
.radio {
  display: flex;
  align-items: center;
}

.radio label {
  color: var(--color-white);
  font-weight: 500;
}

.radio-input {
  width: 20%;
  border: none;
  outline: none;
}

.radio-input:focus {
  outline: none;
  color: var(--color-brand--1);
}

input[type="radio"]:checked:after {
  accent-color: var(--color-brand--1);
}
